@model IEnumerable<LightInEveryHouse.Models.Schedule>
<script src="~/js/site.js"></script>
@{
    ViewData["Title"] = "Графік відключення";
    var addressFilter = ViewData["AddressFilter"] as string;
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Графік відключення</h1>
    </div>
</section>


<div class="container p-3">
    <!-- Форма для імпорту графіку-->
    <form method="post" enctype="multipart/form-data" asp-action="ImportTxt">
        <div class="row pt-1">
            <label for="fileUpload">Імпортувати графік відключення:</label>
            <input type="file" id="fileUpload" name="fileUpload" class="form-control" accept=".txt">
        </div>
        <div class="row pt-3">
            <button type="submit" class="btn btn-success">Імпортувати</button>
        </div>
    </form>
    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-info">
            @ViewData["Message"]
        </div>
    }
    <!-- Форма для відображення графіку -->
    <form method="get" asp-action="Index">
        <div class="row pt-4">
            <label for="addressFilter">Введіть адресу:</label>
            <input type="text" id="addressFilter" name="addressFilter" class="form-control" placeholder="Почніть вводити адресу" value="@addressFilter">
        </div>
        <div class="row pt-3">
            <button type="submit" class="btn btn-primary">Показати графік</button>
        </div>
    </form>
    <br />

@if (Model != null && Model.Any())
{
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>День</th>
                <th>Початок</th>
                <th>Кінець</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="50%">@obj.Day</td>
                    <td width="25%">@obj.StartTime</td>
                    <td width="25%">@obj.FinishTime</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (!string.IsNullOrEmpty(addressFilter))
{
    <p>Немає записів для цієї адреси.</p>
}
</div>
<script>
    $(function () {
        $("#addressFilter").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetAddressSuggestions", "Schedule")',
                    data: { term: request.term },
                    dataType: 'json',
                    success: function (data) {
                        console.log("Received data:", data); // Перевіряємо отримані дані
                        response(data); //Передаємо масив рядків
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX Error:", status, error); // Обробка помилок
                    }
                });
            },
            minLength: 2 // Починає показувати пропозиції після введення 2 і більше символів
        });
    });
</script>